@value tBlue #1d9bf0;

.birthdayInput{
   composes: input from '../../common.module.css';
   margin-top: 10px;
}

.birthdayPlaceHolder{
   height: 30px;
   font-size: 15px;
   line-height: 30px;
}

.datepickerIcon{
   height: 20px;
   float: right;
}

.birthdayTitleItem{
   color: tBlue;
}